@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Mvc.Views.EastSussexGovUK
@using Escc.EastSussexGovUK.Views
@using Escc.WebsiteStyleGuide.Skins
@model Escc.WebsiteStyleGuide.StyleGuidePage
@{
    Model.EsccWebsiteSkin = Skin.SelectedSkin(ViewEngine.Mvc);

    Model.Metadata.Title = "Style guide for www.eastsussex.gov.uk";
    Model.Metadata.DateCreated = "2014-01-07";
    Model.Metadata.IpsvPreferredTerms = "Website management";
    Model.Metadata.IsInSearch = false;

    if (Model.EsccWebsiteView != EsccWebsiteView.Plain)
    {
        Html.RequiresCss(CssFileAlias.Resolve("FormsSmall"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsMedium"), MediaQueryAlias.Resolve("Medium"));
        Html.RequiresCss(CssFileAlias.Resolve("FormsLarge"), MediaQueryAlias.Resolve("Large"));
    }
    Html.RequiresJs("~/style-guide.js");
}
@section Header {
    @{
        Html.RenderPartial("~/Skins/SkinChooser.ascx");
        Html.RenderPartial("~/Views/EastSussexGovUK/MasterPageControl.ascx", new MasterPageControlData { Control = "HeaderDesktop", BreadcrumbProvider = Model.BreadcrumbProvider });
    }
}
@section Metadata {
    @{ Html.RenderPartial("~/Skins/Metadata.ascx"); }
}
<div class="full-page">
    <article>
        <div class="@Skin.TextClass(Model.EsccWebsiteSkin)">
            <h1>Style guide for www.eastsussex.gov.uk</h1>

            <p>
                Our website, www.eastsussex.gov.uk, has a standard header and footer, and between the two there are common patterns,
                but also the freedom to use new designs.
            </p>

            <p>
                This style guide is a reference for designers and developers working on the site.
                Use it alongside the <a href="https://github.com/east-sussex-county-council/Escc.WebsiteStyleGuide/">source code for this project</a>
                to see which HTML and controls to use.
            </p>

            <p>It is also a test suite for any changes or additions to sitewide CSS.</p>

        </div>

        <div class="@Skin.TextClass(Model.EsccWebsiteSkin)">

            <h2>Grid-based layout</h2>
            <ul>
                <li><a href="@Url.Content("~/grid.aspx")">Responsive design and the grid</a></li>
                <li><a href="@Url.Content("~/setup.aspx")">Set up a new page</a></li>
                <li><a href="@Url.Content("~/fullscreen.aspx")">The full screen template</a></li>
            </ul>

            <h2>Text and colours</h2>
            <ul>
                <li><a href="@Url.Content("~/text.aspx")">Text and tables</a></li>
                <li><a href="@Url.Content("~/colours.aspx")">Colours</a></li>
            </ul>

            <h2>Forms</h2>
            <p>There are three types of form, for three different scenarios:</p>
            <ul>
                <li><a href="@Url.Content("~/simple-form.aspx")"><code>.simple-form</code></a> for interfaces with one or two components, such as a search box</li>
                <li><a href="@Url.Content("~/short-form.aspx")"><code>.short-form</code></a> for more complex application interfaces</li>
                <li><a href="@Url.Content("~/service-form.aspx")"><code>.service-form</code></a> for collecting and submitting data</li>
            </ul>
            <p>Whichever one you use, apply the class to a container element along with <code>.form</code>.</p>

            <h2>Patterns for navigation</h2>
            <ul>
                <li><a href="@Url.Content("~/landing.aspx?skin=CustomerFocusSkin")">Landing navigation</a></li>
                <li><a href="@Url.Content("~/buttons.aspx")">Buttons and navigation</a></li>
                <li><a href="@Url.Content("~/content.aspx")">Linking to related content</a></li>
                <li><a href="@Url.Action("Index", "HighlightedContent")">Highlighted content</a></li>
                <li><a href="@Url.Content("~/search.aspx")">Search and paging</a></li>
                <li><a href="@Url.Content("~/maps.aspx")">Maps based on our GIS</a></li>
            </ul>

            <h2>Patterns for content</h2>
            <ul>
                <li><a href="@Url.Action("Index", "FullWidthBackground")">Full-width headers and backgrounds</a></li>
                <li><a href="@Url.Content("~/quick-answer.aspx")">Quick answers</a></li>
                <li><a href="@Url.Content("~/social.aspx")">Social media</a></li>
            </ul>
        </div>
    </article>
</div>
